{% extends 'main.html' %}
{% block title %}Api creator{% endblock %}

{% block body %}

    <h1 class="mt-5">Hi, </h1>
      <p class="lead">This is a page, where You can simply create Your own API without creating server or code anything.
        Just go to the Add Api section and paste Your json formatted data. Click submit, and we will generate a specific
          endpoint which will be ready to return Your data. Use it for testing, sharing info or for Your projects.<br>
          Enjoy

      </p>




{% endblock %}
